body > #root > div {
  height: 100vh;
}
.wrapper{
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "menu browser"
                       "menu console";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 4fr 1fr;
  border: 1px solid black;
}

.menu{
  box-sizing: border-box;
  grid-area: menu;
  border: 1px solid black;
  height: 100%;
  overflow: hidden;
}

.browser{
  box-sizing: border-box;
  grid-area: browser;
  border: 1px solid black;
  overflow: auto;
  height: 100%;
}

.console{
  box-sizing: border-box;
  grid-area: console;
  border: 1px solid black;
  height: 100%;
  overflow: auto;
  word-wrap: break-word
}